# MediaTemple is rediculous
Options +FollowSymLinks -Multiviews

# REWRITE RULES
RewriteEngine On

# View Page
RewriteRule ^view/([^/]*)$ /view.php?id=$1 [QSA,L]

# Export Page - /export/
RewriteRule ^export/([^/]*)/([^/]*)$ /export.php?format=$1&id=$2 [L,QSA]
